html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.light-theme {
    color: #222222;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.light-theme::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
        180deg,
        rgba(248,249,250,1) 0%,
        rgba(248,249,250,1) 45%,
        rgba(148,152,156,1) 100%
);
}

body.light-theme .custom-navbar {
    background-color: #808181;
    color: #222222;
}

body.dark-theme {
    color: #eeeeee;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.dark-theme::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(
        180deg,
        rgba(33,37,41,1) 0%,
        rgba(33,37,41,1) 45%,
        rgba(99,107,115,1) 100%
);
}

body.dark-theme .custom-navbar {
  background-color: #343a41;
  color: #eeeeee;
}

body.light-theme .custom-navbar .navbar-brand,
body.light-theme .custom-navbar .nav-link {
  color: #212529;
}

body.light-theme .custom-navbar .navbar-toggler {
  color: #212529;
  border-color: #212529;
}

body.light-theme .custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Set the color of the toggler icon */
}

.theme-toggle.active {
  font-weight: bold;
}

.image-container {
    position: relative;
    width: 98vw;
    left: 50%;
    transform: translateX(-50%);
}

.image-container img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
