{% extends "base.html" %}
{% block title %} All Users {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block page_content %}
  <h1>All Users</h1>
  <div class="row">
    {% for user in users %}
      <div class="col-12 mb-4">
        <div class="card bg-dark text-white rounded border border-white" style="opacity: 0.8;">
          <div class="card-body">
            <h5 class="card-title">
              <a style="text-decoration: none" href="{{ url_for('admin.user_profile', user_id=user.id) }}" class="text-white">{{ user.username }} </a>
            </h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
