{% extends "base.html" %}
{% block title %} Account delete confirmation {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block page_content %}
    <div class="container-fluid" style="margin: 5px">
        <form id="delete-form" action="/admin/user/{{ user_id }}/delete" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="container d-flex align-items-center justify-content-center" style="margin: 5px">
                <label for="confirm">{{ username }}, are you sure you want to delete this account?</label>
            </div>
            <div class="border border-danger rounded" >
                <div class="container-fluid" style="margin: 5px">
                    <div class="container-fluid" style="margin: 5px">
                        <div class="row">
                          <div class="col text-center">
                            <label for="delete-button" class="form-label">Warning: A deleted account cannot be restored</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col text-center">
                            <button type="submit" class="btn btn-danger btn-sm" id="delete-button">Yes</button>
                            <a href="/admin/users" class="btn btn-secondary btn-sm" role="button">No</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %} {{ super() }} {% endblock %}
