{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
<style>
    .image-container {
        background-image: url('{{ unsplash_photo }}');
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block unsplash_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="image-container">
                <div class="posts-overlay">
                    <div class="container">
                        <div class="row">
                            {% for post in posts %}
                            <div class="col-md-4 mb-4">
                                <a href="#" class="card bg-dark text-white rounded border border-white card-post" style="opacity: 0.8; text-decoration: none; display: block;" data-toggle="modal" data-target="#postModal{{ post.id }}">
                                    <div class="card-body card-post-body">
                                        <p class="card-text">Post by {{ post.author.username }}, created at {{ post.get_formatted_created_at() }}</p>
                                        <p class="card-text">{{ post.content[:200] }}{% if post.content|length > 200 %}...{% endif %}</p>
                                    </div>
                                </a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="postModalLabel{{ post.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="postModalLabel{{ post.id }}">Post by {{ post.author.username }}, created {{ post.get_formatted_created_at() }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{ post.content }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="pagination">
                                    {{ pagination.links }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_content %}
    Photo by <a href="https://unsplash.com/"
                style="text-decoration: None; color: #ffffff">Unsplash</a>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
