{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
<style>
    .image-container {
        background-image: url('{{ unsplash_photo }}');
    }
</style>
{% endblock %}

{% block unsplash_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="image-container">
                <div class="posts-overlay">
                    <div class="container">
                        <div class="row">
                            {% for post in posts %}
                            <div class="col-md-4 mb-4">
                                <div class="card bg-dark text-white rounded border border-white" style="opacity: 0.8;">
                                    <div class="card-body">
                                        <p class="card-text">Post by {{ post.author.username }}, created at {{ post.get_formatted_created_at() }}</p>
                                        <p class="card-text">{{ post.content[:200] }}{% if post.content|length > 200 %}...{% endif %}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="pagination">
                                    {{ pagination.links }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_content %}
    Photo by <a href="https://unsplash.com/"
                style="text-decoration: None; color: #ffffff">Unsplash</a>
{% endblock %}

{% block scripts %} {{ super() }} {% endblock %}
