{% extends "base.html" %}
{% block title %} Register page {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block top_message %}
    {% if data.top_message %}
        <div class="{{ data.top_message.class }}" role="alert">
            {{ data.top_message.icon | safe }}
            {{ data.top_message.text | safe }}
    {% endif %}
        </div>
{% endblock %}

{% block page_content %}
  <form action="/auth/register" method="post">
    <fieldset>
        <legend>Registration Form</legend>
    <label for="username" class="form-label">Username:</label><br />
    <input type="text" class="form-control" id="username" name="username" /><br />
    <label for="email" class="form-label">Email:</label><br />
    <input type="email" class="form-control" id="email" name="email" /><br />
    <label for="password" class="form-label">Password:</label><br />
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
    /><br />
    <input type="submit" class="btn btn-success" value="Register" />
    </fieldset>

  </form>
{% endblock %}

{% block scripts %} {{ super() }} {% endblock %}
