{% extends "base.html" %}
{% block title %} Account delete confirmation {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block page_content %}
    <div class="container-fluid" style="margin: 5px">
        <form id="delete-form" action="/protected/profile/{{ user_id }}/delete" method="post">
            <div class="container d-flex align-items-center justify-content-center" style="margin: 5px">
                <label for="password">{{ user.username }}, enter your password to delete your account</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="border border-danger rounded" >
                <div class="container-fluid" style="margin: 5px">
                    <div class="container-fluid" style="margin: 5px">
                        <div class="row">
                          <div class="col text-center">
                            <label for="delete-button" class="form-label">Warning: A deleted account cannot be restored</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col text-center">
                            <button type="submit" class="btn btn-danger btn-sm" id="delete-button">Delete Account</button>
                            <a href="/protected/me" class="btn btn-secondary btn-sm" role="button">Cancel</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %} {{ super() }} {% endblock %}Предупреждение: удаленный аккаунт не может быть восстановлен